<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${genere}"></title>
    <!-- Blocco per stile bootsrap e css -->
    <th:block th:replace="~{fragments :: Style}"></th:block>
  </head>
  <body>
    <div th:replace="~{fragments :: header}"></div>
    <div><h1 th:text="'Pagina ' + ${genere} "></h1></div>
    <main>
      <a th:href="@{/}" class="btn btn-primary">Torna alla Home</a>

      <h2 th:text="${item.title}"></h2>
    </main>
    <footer></footer>
  </body>
</html>
