<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Films</title>
    <!-- Blocco per stile bootsrap e css -->
    <th:block th:replace="~{ fragments :: Style}"></th:block>
  </head>
  <body>
    <header th:replace="~{ fragments :: header}"></header>

    <div><h1>Pagina dei film</h1></div>
    <main class="mx-auto text-center">
      <h1>Lista Film</h1>
      <a th:href="@{/}" class="btn btn-primary mt-1 mb-3">Torna alla Home</a>

      <ul class="list-group">
        <li class="list-group-item" th:each="item : ${list}">
          <a
            th:href="@{/films/{filmId}(filmId = ${item.id})}"
            th:text="${item.title}"
          ></a>
        </li>
      </ul>
    </main>
    <footer></footer>
  </body>
</html>
