<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Blocco per stile bootsrap e css -->
    <th:block th:replace="~{ fragments :: Style}"></th:block>
  </head>
  <body>
    <header th:replace="~{ fragments :: header}"></header>
    <main>
      <h1 th:text="'Best of the year by: ' + ${name}"></h1>
      <div class="container row mx-auto text-center pt-5">
        <div class="col-6">
          <img
            alt="film"
            th:src="@{/img/movie.jpg}"
            class="logo rounded-pill"
          />

          <a th:href="@{/films}" class="btn btn-secondary rounded-pill"
            >Vai ai film</a
          >
        </div>
        <div class="col-6">
          <img
            alt="music"
            th:src="@{/img/music.jpg}"
            class="logo rounded-pill"
          />
          <a th:href="@{/songs}" class="btn btn-secondary rounded-pill"
            >Vai alle canzoni</a
          >
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
