<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Songs</title>

    <!-- Bootstrap for thymeleaf -->
    <link
      th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <header><h1>Pagina delle canzoni</h1></header>
    <main>
      <h1>Lista Canzoni</h1>
      <a th:href="@{/}" class="btn btn-primary">Torna alla Home</a>
    </main>
    <footer></footer>
  </body>
</html>
